* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

p {
    text-transform: capitalize;
}

img {
    cursor: pointer;
}

.felx-div {
    display: flex;
    align-items: center;
}

nav {
    padding: 10px 2%;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-right img {
    width: 25px;
    margin-right: 25px;
}

.nav-right img:last-of-type {
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav-left img:first-of-type {
    width: 22px;
    margin-right: 25px;
}

.nav-left img:last-of-type {
    width: 130px;
}

.nav-middle :last-child {
    width: 16px;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

.nav-middle .search-box input {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: 400px;
}

.nav-middle .search-box img {
    width: 15px;

}

/* Strat Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    width: 15%;
    height: 100vh;
    background-color: #fff;
    text-transform: capitalize;
}

.shortcut-links a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.shortcut-links a img {
    width: 20px;
    margin-right: 20px;
}

.shortcut-links a:first-child {
    color: #ED3833;
}

.sidebar hr {
    border: 0;
    width: 85%;
    background-color: #ccc;
    height: 1px;
}

.subscribed-list h3 {
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}

.subscribed-list a {
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.subscribed-list a img {
    width: 25px;
    margin-right: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}